Webapp/app/v1/core/appserver/src/main/webapp/resources/schemas/PostComment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/PostComment" xmlns:tns="http://www.example.org/PostComment" elementFormDefault="qualified">
	<element name="PostComment">
		<complexType>
			<sequence>
				<element name = "user" type = "string"/>
				<element name = "body" type = "string"/>
				<element name = "postid" type = "string" />
			</sequence>
		</complexType>
	</element>
</schema>
